.container {
    display: flex;
    min-height: 100vh;
}

.menu {
    background-color: #85CEF0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.menu button {
    width: 50%;
    background-color: #E2E5E7;
    color: black;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5%;
    cursor: pointer;    
}
body {
    margin: 0;
    background-color: #E2E5E7;
}

.chat {
    margin: 25px;
    margin-left: 55px;
    background-color: #F8F8FF;
    width: 70%;
    padding-left: 70px;
    box-shadow: 2px 3px 10px grey;
    margin: 5%;
    justify-content: center;
}
.mensaje {
    padding-top: 15px;
    justify-content: center;
    justify-items: center;
    border-radius: 4px;
    margin: 0%;
    margin-left: 0%;
    width: 100%;
    margin-top: 100%;
    background-color: #E2E5E7;
     
}
input {
    padding: 15px;
    border: 0,1px;
    border-radius: 4px;
    border-color: rgba(189, 189, 189, 0.829);
    width: 70%;
    justify-content: center;
    justify-items: center;
    margin: 25px;    
}
button {
    background-color: #F9DC6A;
    border: 0;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
}